<%= render "shared/private_sidebar" %>

<div class="container-fluid">
  <h1>Modifier un Étudiant</h1>

  <div class="row-fluid page-menu-bar">
    <%= link_to 'Voir', @student, :class => "btn btn-mini btn-info" %>
    <%= link_to 'Retour', students_path, :class => "btn btn-mini btn-info" %>
  </div>

  <%= render 'form' %>
</div>
