<%= render "shared/private_sidebar" %>

<h1 class="page-header">Nouvel Étudiant</h1>

<div class="row-fluid page-menu-bar">
  <%= link_to 'Retour', students_path, :class => "btn btn-mini btn-info" %>
</div>

<%= render 'form' %>
