<div>
  Bonjour,<br />
  <br />
  Un nouveau message provenant de la plateforme Ingesup vient de vous être adressé.<br />
  Contact: <strong><%= @first_name %> <%= @last_name %></strong><br />
  Voici le message:<br />
  <br />
  <%= simple_format(@message) %>
</div>