<%= render "shared/private_sidebar" %>

<div class="container-fluid">
  <h1>Modifier Utilisateur Service Pédagogique</h1>

  <div class="row-fluid page-menu-bar">
    <%= link_to 'Voir', @school_user, :class => "btn btn-mini btn-info" %>
    <%= link_to 'Retour', school_users_path, :class => "btn btn-mini btn-info" %>
  </div>

  <%= render 'form' %>
</div>