/*import*/
@import "mixins.css.scss";

/*variable*/
$page-margin-top: 60px;
$content-min-height: 400;

body {
	background-image: url("grey-background.png");
	background-repeat: repeat;
}

.page {
	margin-top: $page-margin-top;
}

.sidebar {
	background-color: #FFF;
	min-height: #{$content-min-height}px;
	@include lifted;
	@include drop-shadow;
}

.content {
	background-color: #FFF;
	min-height: #{$content-min-height - 20}px;
	padding-bottom: 20px;
	@include lifted;
	@include drop-shadow;
}

.page-menu-bar {
	text-align: right;
	margin-bottom: 9px;
}
