/*import*/
@import "mixins.css.scss";

/*variable*/
$page-margin-top: 60px;
$content-min-height: 400;

body {
	background-image: url("grey-background.png");
	background-repeat: repeat;
}

.page {
	margin-top: $page-margin-top;
}

.sidebar {
	background-color: #FFF;
	min-height: #{$content-min-height}px;
	@include lifted;
	@include drop-shadow;
}

.content {
	background-color: #FFF;
	min-height: #{$content-min-height - 20}px;
	padding-bottom: 20px;
	@include lifted;
	@include drop-shadow;
}

.page-menu-bar {
	text-align: right;
	margin-bottom: 9px;
}

.badge-status {
	font-size: 10px;
	padding: 1px 2px 0;
	margin-right: 5px;
}

.label.header {
	font-size: 19px;
	line-height: 30px;
	margin-bottom: 10px;
}

.event-description {
	background-color: #FEFEFE;
	border-left: 5px solid #3A87AD;
  margin-top: 15px;
  padding: 3px 19px;
  text-align: justify;
}
